.everest-forms {
  button[type=submit],
  input[type=submit] {
    @extend .btn-primary;
  }
  .evf-field-container .evf-frontend-row {
    input[type=text],
    input[type=email],
    input[type=password],
    select,
    textarea {
      width: 100%;
      height: auto;
      font-size: 14px;
      box-shadow: none;
      margin-bottom: 0;
      padding: 6px 12px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0;
    }
  }
}