#editor {
  .wp-block-heading {
    h1, .heading-1 {

    }

    h2, .heading-2 {

    }

    h3, .heading-3 {

    }

    h4, .heading-4 {
    }

    h5, .heading-5 {

    }

    .heading-7 {

    }
  }
  .editor-rich-text {
    p, .paragraph,
    a,
    li {

    }

    a {

    }

    button,
    .button-primary,
    .button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
    }

    .navigation-text {

    }

    // classes for additional styling
    .text-brand-primary {

    }

    .column-border-right {

    }
  }
}