// Edit Password
#ur-frontend-form {
  .ur {
    &-form {
      &-grid {
        fieldset {
          border: none;
          legend {
            display: none;
          }
        }
      }
    }
  }
}
