.single {
  #main {
    .main-content {
      background: white;
      padding: 15px;
    }
  }
  #sidebar {
    .sidebar-content {
      background: white;
      padding: 15px;
    }
  }
}
@media only screen and (min-width: $tablet_width) {
  .single {
    #primary {
      margin: 0 calc(5% + 60px);
      display: flex;
      flex-flow: row wrap;
    }
    #main {
      width: 67%;
      padding: 0 15px;
      .main-content {
        padding: 35px;
      }
    }
    #sidebar {
      width: 33%;
      padding: 0 15px;
      .sidebar-content {
        padding: 35px;
      }
    }
  }
}