.post-type-archive-deals,
.search {

  #content {
    margin-top: 50px;
  }

  #primary {
     width: $desktop_width;
     max-width: 100%;
     margin: 0 auto;
     padding: 0 15px;
     display: flex;
     flex-direction: column;
   }
 }

.navigation.pagination {
  .nav-links {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .page-numbers {
    display: inline-block;
    line-height: 1;
    padding: 5px;
    color: $site-orange;
    background: white;
    border: 2px solid $site-orange;
    font-size: 16px;
    margin-right: 10px;
    &.current,
    &:hover {
      color: white;
      background: $site-orange;
    }
    svg {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet_width + 1){
  .post-type-archive-deals,
  .search {
    #primary {
      flex-direction: row;
    }
    #main {
      width: 65%;
      display: inline-block;
      margin-right: 30px;
    }
    #sidebar {
      width: 35%;
    }
  }
}