.single-deals {
  #primary {
    padding: 55px 0;
    width: $desktop_width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .deal {
    &-categories {
      padding: 10px 35px 0 0;
    }
    &-category {
      display: inline-block;
      color: white;
      background: $site-orange;
      padding: 5px 8px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
    }
    &-dates {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 15px;
      color: $site-orange;
      .deal-start-date {
        margin-right: 15px;
      }
      .date {
        font-weight: bold;
      }
    }
    &-expired {
      text-transform: uppercase;
      color: $site-orange;
      margin-top: 10px;
    }
  }
}

#breadcrumbs {
  &,
  span,
  a {
    font-size: 13px;
  }
  span,
  a {
    display: inline-block;
  }
  a,
  .breadcrumb_last {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 768px) {
  .single-deals {
    #main {
      width: 65%;
    }
    #sidebar {
      width: 35%;
    }
  }
}

@media screen and (max-width: $tablet_width) {
  .single-deals {
    #content {
      padding: 0 15px;
    }
  }
}