#colophon {
  padding: 20px 0;
  background: black;
  .site-info {
    width: 100%;
    max-width: $desktop_width;
    padding: 0 15px;
    margin: auto;
    display: flex;
    .site-name {
      color: white;
      display: inline-block;
      width: 33%;
    }
    .footer-navigation {
      color: white;
      text-align: right;
      display: inline-block;
      width: 67%;
      .footer-menu {
        li {
          &:last-of-type {
            margin-right: 0;
          }
          a {
            color: white;
            &:hover {
              color: $site-orange;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet_width) {
  #colophon {
    .site-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer-navigation {
      .footer-menu {
        li {
          display: block;
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}