.admin-bar {
  #masthead {
    top: -16px;
  }
}
#masthead {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: -48px;
  min-height: unset;
  padding: 0;
  text-shadow: none;
  z-index: 100;
  &:before,
  &:after {
    display: none;
  }

  .social {
    &-top-bar {
      background: $site-orange;
    }
    &-container {
      display: flex;
      flex: row;
      justify-content: flex-end;
      align-items: center;
      height: auto;
      width: 100%;
      max-width: 1190px;
      padding: 10px 15px;
      margin: auto;
      a {
        color: white;
        font-size: 18px;
        &:not(:last-of-type) {
          margin-right: 15px;
        }
        &:hover {
          color: black;
        }
      }
    }
    &-icons {
      display: flex;
    }
    &-header-text {
      display: block;
      width: 100%;
      color: white;
      &,
      * {
        margin: 0;
      }
    }
  }

  .site-branding-container {
    border-bottom: 1px solid $border-gray;
    background: white;
  }
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: $desktop_width;
    padding: 0 15px;
    margin: auto;
    .site-logo {
      width: 25%;
      display: inline-flex;
      .custom-logo-link {
        display: inline-flex;
      }
    }
    .main-navigation {
      width: 75%;
      margin-top: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      align-items: center;
      .menu-item {
        a {
          font-size: 20px;
          color: black;
          font-weight: 400;
          &:hover {
            color: $site-orange;
          }
        }
      }
      #header-search-bar {
        form {
          position: relative;
          input[type="text"] {
            font-size: 20px;
            line-height: 1;
            padding: 8px 15px;
            border: 2px solid black;
            border-radius: 30px;
            text-align: center;
            width: 350px;
          }
          .search-form-submit {
            background: none;
            padding: 0;
            position: absolute;
            right: 15px;
            top: 12px;
            border: none;
            font-size: 18px;
            &:hover {
              color: darken($site-orange, 20%);
            }
          }
        }
      }
    }
    .user-menu {
      margin-left: 25px;
      position: relative;
      .header-login-button {
        @extend .btn-primary;
      }
      &-links {
        &-container {
          position: absolute;
          top: 100%;
          right: 0;
          padding-top: 15px;
          display: none;
        }
        background-color: white;
        min-width: 125px;
        box-shadow: 0 3px 10px 1px rgba(0,0,0,0.35);
      }
      &-link {
        &:not(:last-of-type) {
          border-bottom: 1px solid $site-orange;
        }
        a {
          display: inline-block;
          padding: 10px;
        }
      }

      &:hover {
        .user-menu-links-container {
          display: block;
        }
      }
    }
  }
  .header-menu {
    padding: 10px 0;
    background: $site-gray;
    .menu-main-container {
      padding: 0 15px;
      .main-menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1;
        justify-content: flex-start;
        li {
          line-height: 1;
          &:not(:last-of-type) {
            margin-right: 15px;
          }
          a {
            color: white;
            text-transform: uppercase;
            letter-spacing: .06em;
            font-weight: 700;
            &:hover {
              color: $site-orange;
            }
          }
        }
      }
    }
    .main-menu-more {
      display: none;
    }
  }
}

@media only screen and (min-width: $desktop_width) {
  .menu-main-container {
    max-width: $desktop_width;
    margin: auto;
  }
}

@media only screen and (min-width: $tablet_width) {
  .header {
    margin: 0 calc(5% + 60px);
  }
}
@media only screen and (max-width: $tablet_width) {
  .admin-bar {
    #masthead {
      top: 0;
    }
  }
  #masthead {
    position: relative;
    top: 0;
    .header {
      height: auto;
      .site-logo {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
      }
      .main-navigation {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 15px 0;
        #header-search-bar {
          margin: auto auto 15px auto;
        }
        .user-menu {
          margin: 0;
        }
        .menu-main-container {
          padding: 15px 0;
        }
      }
    }
  }
}
