.site-content {
  overflow: visible;
}
#main {
  .entry-header {
    margin-top: 15px;
    h1 {
      &:before {
        content: none;
        display: none;
      }
    }
  }
}
.entry {
  .entry-content,
  .entry-summary {
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
  }
  .entry-header {
    width: $desktop_width;
    max-width: 100%;
  }
}
@media screen and (min-width: $desktop_width) {
  .entry {
    .entry-content,
    .entry-summary {
      max-width: $desktop_width;
      margin: auto;
      padding: 0 15px;
    }
    .entry-header {
      width: $desktop_width;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
  }
}
