.sidebar-block,
#sidebar {
  overflow: visible;
  &.sticky {
    .kt-inside-inner-col {
      position: fixed;
      width: calc(1160px / 2.92);
    }
  }
  .kt-inside-inner-col,
  .sidebar-content {
    padding: 35px;
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 190px;
  }
  .sidebar-content{
    h4 {
      color: $site-orange;
    }
  }
  form {
    input[type="text"],
    input[type="email"] {
      border: 1px solid black;
      border-radius: 0;
    }
    button[type="submit"] {
      @extend .btn-primary;
    }
    .evf-submit-container {
      text-align: center;
    }
  }
}

@media screen and (max-width: $tablet_width) {
  .sidebar-block,
  #sidebar {
    form {
      input[type="email"],
      button[type="submit"] {
        margin-top: 20px;
      }
      .evf-submit-container {
        text-align: center;
      }
    }
  }
}