body {
  background-color: $light_gray;
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: $font__line-height-body;
  text-rendering: optimizeLegibility;
}
p,
.paragraph {
  font-size: 16px;
}
button,
input,
select,
optgroup,
textarea {
  color: black;
  font-family: $primary-font-family;
  font-weight: 400;
  line-height: $font__line-height-body;
  text-rendering: optimizeLegibility;
}
.author-description .author-link,
.comment-metadata,
.comment-reply-link,
.comments-title,
.comment-author .fn,
.discussion-meta-info,
.entry-meta,
.entry-footer,
.main-navigation,
.no-comments,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.page-links,
.page-description,
.pagination .nav-links,
.sticky-post,
.site-title,
.site-info,
#cancel-comment-reply-link,
img:after,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
}

.main-navigation,
.page-description,
.author-description .author-link,
.not-found .page-title,
.error-404 .page-title,
.post-navigation .post-title,
.pagination .nav-links,
.comments-title,
.comment-author .fn,
.no-comments,
.site-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: $font__line-height-heading;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-title {
  font-family: $primary-font-family;
}

.site-branding,
.main-navigation ul.main-menu > li,
.social-navigation,
.author-description .author-bio,
.nav-links {
  line-height: 1.25;
}

h1,
.heading-1 {
  font-size: $font__size-xl;

  @include media(tablet) {
    font-size: $font__size-xxl;
  }
}

.entry-title,
.not-found .page-title,
.error-404 .page-title,
.has-larger-font-size,
h2,
.heading-2 {
  font-size: $font__size-lg;

  @include media(tablet) {
    font-size: $font__size-xl;
  }
}

h1:not(.site-title):before,
h2:before {
  display: none;
  content: none;
}

.has-regular-font-size,
.has-large-font-size,
.comments-title,
h3,
.heading-3 {
  font-size: $font__size-lg;
}

.site-title,
.site-description,
.main-navigation,
.nav-links,
.page-title,
.page-description,
.comment-author .fn,
.no-comments,
h2.author-title,
p.author-bio,
h4,
.heading-4 {
  font-size: $font__size-md;
}

.pagination .nav-links,
.comment-content,
h5,
.heading-5 {
  font-size: $font__size-sm;
}

.entry-meta,
.entry-footer,
.discussion-meta-info,
.site-info,
.has-small-font-size,
.comment-reply-link,
.comment-metadata,
.comment-notes,
.sticky-post,
#cancel-comment-reply-link,
img:after,
h6,
.heading-6 {
  font-size: $font__size-xs;
}

.site-title,
.page-title {
  font-weight: normal;
}

.page-description,
.page-links a {
  font-weight: bold;
}

.site-description {
  letter-spacing: -0.01em;
}

.post-navigation .post-title,
.entry-title,
.not-found .page-title,
.error-404 .page-title,
.comments-title,
blockquote {
  hyphens: auto;
  word-break: break-word;
}

/* Do not hyphenate entry title on tablet view and bigger. */
.entry-title {
  @include media(tablet) {
    hyphens: none;
  }
}

// buttons, links
.entry .entry-content a,
a {
  &,
  &:visited {
    @include main_transition();
    font-size: 16px;
    font-weight: 400;
    color: $site-orange;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: darken($site-orange, 20%);
  }
}

.btn-primary {
  @include main_transition();
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  color: $site-orange;
  background-color: white;
  border-radius: 0;
  line-height: 1;
  padding: 8px 20px;
  border: 2px solid $site-orange;
  display: inline-block;
  &:hover {
    color: white;
    background-color: $site-orange;
  }
}

input[type="submit"],
button {
  @extend .btn-primary;
}

//effects
$site-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.35);