.blog {
  #primary {
    width: $desktop_width;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  #main {
    margin-top: 58px;
  }
  .deals {
    &-archive {
      &-deal {
        background: white;
        &:not(:first-of-type) {
          margin-top: 40px;
        }
        &-categories {
          padding: 10px 35px 0 35px;
          &-category {
            display: inline-block;
            color: white;
            background: $site-orange;
            padding: 5px 8px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 1;
            &:not(:last-of-type) {
              margin-right: 8px;
            }
          }
        }
        &-content {
          padding: 15px 35px 35px 35px;
          h2 {
            margin-top: 0;
          }
        }
        &-link {
          display: inline-block;
          &.image-link {
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            &:hover {
              opacity: .65;
            }
          }
        }
      }
    }
  }
  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    .pagination-link {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.current-page {
        display: inline-block;
        line-height: 1;
        padding: 5px;
        color: white;
        background: $site-orange;
        border: 2px solid $site-orange;
      }
      a {
        display: inline-block;
        line-height: 1;
        padding: 5px;
        background: white;
        color: $site-orange;
        border: 2px solid $site-orange;
        &:hover {
          color: white;
          background: $site-orange;
        }
      }
    }
  }
  .deals-archive-deal {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: $tablet_width + 1){
  .blog {
    #primary {
      flex-direction: row;
    }
    #main {
      width: 65%;
      display: inline-block;
      margin-right: 30px;
    }
    #sidebar {
      width: 35%;
    }
  }
}