$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$sss-icon-pinterest: "\e902";
$sss-icon-twitter: "\e903";
$sss-icon-instagram: "\e904";
$sss-icon-facebook: "\e905";
$sss-icon-youtube: "\e906";
$sss-icon-user: "\e901";
$sss-icon-search: "\e900";
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?oxt9td');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?oxt9td#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?oxt9td') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?oxt9td') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?oxt9td##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sss-icon-"], [class*=" sss-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sss-icon-youtube {
  &:before {
    content: $sss-icon-youtube;
  }
}
.sss-icon-pinterest {
  &:before {
    content: $sss-icon-pinterest;
  }
}
.sss-icon-twitter {
  &:before {
    content: $sss-icon-twitter;
  }
}
.sss-icon-instagram {
  &:before {
    content: $sss-icon-instagram;
  }
}
.sss-icon-facebook {
  &:before {
    content: $sss-icon-facebook;
  }
}

.sss-icon-user {
  &:before {
    content: $sss-icon-user;
  }
}
.sss-icon-search {
  &:before {
    content: $sss-icon-search;
  }
}
