$primary-font-family: 'Roboto', sans-serif;

// Colors
$light_gray: #f6f6f6;
$border-gray: #d6d6d6;
$site-orange: #FDA50F; //#fire
$site-gray: #BEBDB8;

$color__link: $site-orange;
$color__link-visited: $site-orange;
$color__link-hover: darken( $color__link, 10% );

$font__size_base: 22px;
$font__size-ratio: 1.125;

$font__size-xxs:   15px;
$font__size-xs:    18px;
$font__size-sm:    20px;
$font__size-md:    24px;
$font__size-lg:    27px;
$font__size-xl:    30px;
$font__size-xxl:   40px;
$font__size-xxxl:  55px;

$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;

// Responsive widths.

$mobile_width: 600px;
$tablet_width: 768px;
$desktop_width: 1190px;
$wide_width: 1379px;
